In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,r2_score,accuracy_score

In [3]:
data=pd.read_csv("dataset.csv")

In [4]:
data.head(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
5,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,45000,Petrol,Individual,Manual,First Owner,20.14 kmpl,1197 CC,81.86 bhp,113.75nm@ 4000rpm,5.0
6,Maruti Wagon R LXI DUO BSIII,2007,96000,175000,LPG,Individual,Manual,First Owner,17.3 km/kg,1061 CC,57.5 bhp,"7.8@ 4,500(kgm@ rpm)",5.0
7,Maruti 800 DX BSII,2001,45000,5000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
8,Toyota Etios VXD,2011,350000,90000,Diesel,Individual,Manual,First Owner,23.59 kmpl,1364 CC,67.1 bhp,170Nm@ 1800-2400rpm,5.0
9,Ford Figo Diesel Celebration Edition,2013,200000,169000,Diesel,Individual,Manual,First Owner,20.0 kmpl,1399 CC,68.1 bhp,160Nm@ 2000rpm,5.0

In [5]:
data.shape

(8128, 13)

In [6]:
data.drop(columns=["name","torque"],inplace=True)

In [7]:
data.isnull().sum()

year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
seats            221
dtype: int64

In [8]:
data.dropna(inplace=True)

In [9]:
data.isnull().sum()

year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
seats            0
dtype: int64

In [10]:
data.duplicated().sum()

np.int64(1208)

In [11]:
data.drop_duplicates(inplace=True)

In [12]:
data.duplicated().sum()

np.int64(0)

In [13]:
data.shape

(6699, 11)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6699 entries, 0 to 8125
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           6699 non-null   int64
 1   selling_price  6699 non-null   int64
 2   km_driven      6699 non-null   int64
 3   fuel           6699 non-null   object
 4   seller_type    6699 non-null   object
 5   transmission   6699 non-null   object
 6   owner          6699 non-null   object
 7   mileage        6699 non-null   object
 8   engine         6699 non-null   object
 9   max_power      6699 non-null   object
 10  seats          6699 non-null   float64
dtypes: float64(1), int64(3), object(7)
memory usage: 628.0+ KB

In [15]:
data.columns

Index(['year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'seats'],
      dtype='object')

In [16]:
data.head(5)

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0
1,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0
3,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0
4,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0

In [17]:
def getnum(list):
    return list.split(" ")[0]

In [18]:

data["mileage"]=data["mileage"].apply(getnum)
data["engine"]=data["engine"].apply(getnum)
data["max_power"]=data["max_power"].apply(getnum)

In [19]:
data.head(5)

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4,1248,74,5.0
1,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,103.52,5.0
2,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7,1497,78,5.0
3,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0,1396,90,5.0
4,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1,1298,88.2,5.0

In [20]:
data.reset_index(inplace=True)
data.drop(columns=["index"],inplace=True)
data

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4,1248,74,5.0
1,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,103.52,5.0
2,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7,1497,78,5.0
3,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0,1396,90,5.0
4,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1,1298,88.2,5.0
...,...,...,...,...,...,...,...,...,...,...,...
6694,2013,260000,50000,Petrol,Individual,Manual,Second Owner,18.9,998,67.1,5.0
6695,2014,475000,80000,Diesel,Individual,Manual,Second Owner,22.54,1396,88.73,5.0
6696,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5,1197,82.85,5.0
6697,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8,1493,110,5.0
6698,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3,1248,73.9,5.0

In [21]:
data["fuel"].unique()

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [22]:
carfuel=['Diesel', 'Petrol', 'LPG', 'CNG']
carfuelindex=[0,1,2,3]
data.replace(carfuel,carfuelindex,inplace=True)

C:\Users\akash\AppData\Local\Temp\ipykernel_10260\2761646862.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.replace(carfuel,carfuelindex,inplace=True)

In [23]:
data["seller_type"].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [24]:
carseller=['Individual', 'Dealer', 'Trustmark Dealer']
carsellerindex=[0,1,2]
data.replace(carseller,carsellerindex,inplace=True)

C:\Users\akash\AppData\Local\Temp\ipykernel_10260\3704454967.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.replace(carseller,carsellerindex,inplace=True)

In [25]:
data["transmission"].unique()

array(['Manual', 'Automatic'], dtype=object)

In [26]:
cartransmission=['Manual', 'Automatic']
cartransmissionindex=[0,1]
data["transmission"].replace(cartransmission,cartransmissionindex,inplace=True)

C:\Users\akash\AppData\Local\Temp\ipykernel_10260\2734492690.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["transmission"].replace(cartransmission,cartransmissionindex,inplace=True)
C:\Users\akash\AppData\Local\Temp\ipykernel_10260\2734492690.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["transmission"].replace(cartransmission,cartransmissionindex,inplace=True)

In [27]:
data["owner"].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [28]:
carowner=['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car']
carownerindex=[0,1,2,3,4]
data["owner"].replace(carowner,carownerindex,inplace=True)

C:\Users\akash\AppData\Local\Temp\ipykernel_10260\1238390742.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["owner"].replace(carowner,carownerindex,inplace=True)
C:\Users\akash\AppData\Local\Temp\ipykernel_10260\1238390742.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["owner"].replace(carowner,carownerindex,inplace=True)

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6699 entries, 0 to 6698
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           6699 non-null   int64
 1   selling_price  6699 non-null   int64
 2   km_driven      6699 non-null   int64
 3   fuel           6699 non-null   int64
 4   seller_type    6699 non-null   int64
 5   transmission   6699 non-null   int64
 6   owner          6699 non-null   int64
 7   mileage        6699 non-null   object
 8   engine         6699 non-null   object
 9   max_power      6699 non-null   object
 10  seats          6699 non-null   float64
dtypes: float64(1), int64(7), object(3)
memory usage: 575.8+ KB

In [30]:
def convert(n):
    if n=="":
        return 0
    return float(n)

In [31]:
data["mileage"]=data["mileage"].apply(convert)
data["engine"]=data["engine"].apply(convert)
data["max_power"]=data["max_power"].apply(convert)

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6699 entries, 0 to 6698
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           6699 non-null   int64
 1   selling_price  6699 non-null   int64
 2   km_driven      6699 non-null   int64
 3   fuel           6699 non-null   int64
 4   seller_type    6699 non-null   int64
 5   transmission   6699 non-null   int64
 6   owner          6699 non-null   int64
 7   mileage        6699 non-null   float64
 8   engine         6699 non-null   float64
 9   max_power      6699 non-null   float64
 10  seats          6699 non-null   float64
dtypes: float64(4), int64(7)
memory usage: 575.8 KB

In [33]:
data.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,2014,450000,145500,0,0,0,0,23.40,1248.0,74.00,5.0
1,2014,370000,120000,0,0,0,1,21.14,1498.0,103.52,5.0
2,2006,158000,140000,1,0,0,2,17.70,1497.0,78.00,5.0
3,2010,225000,127000,0,0,0,0,23.00,1396.0,90.00,5.0
4,2007,130000,120000,1,0,0,0,16.10,1298.0,88.20,5.0

In [34]:
data.describe()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
count,6699.000000,6.699000e+03,6.699000e+03,6699.000000,6699.000000,6699.000000,6699.000000,6699.000000,6699.000000,6699.000000,6699.000000
mean,2013.605911,5.265256e+05,7.341244e+04,0.475892,0.107479,0.085834,0.501120,19.464360,1431.047320,87.774224,5.434393
std,3.903004,5.241503e+05,5.870366e+04,0.553614,0.322496,0.280139,0.738275,4.050454,493.365463,31.754162,0.984496
min,1994.000000,2.999900e+04,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,624.000000,0.000000,2.000000
25%,2011.000000,2.500000e+05,3.800000e+04,0.000000,0.000000,0.000000,0.000000,16.800000,1197.000000,67.550000,5.000000
50%,2014.000000,4.200000e+05,6.860000e+04,0.000000,0.000000,0.000000,0.000000,19.440000,1248.000000,81.830000,5.000000
75%,2017.000000,6.500000e+05,1.000000e+05,1.000000,0.000000,0.000000,1.000000,22.500000,1498.000000,100.000000,5.000000
max,2020.000000,1.000000e+07,2.360457e+06,3.000000,2.000000,1.000000,4.000000,42.000000,3604.000000,400.000000,14.000000

In [35]:
data.shape

(6699, 11)

In [36]:
data.columns

Index(['year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'seats'],
      dtype='object')

In [37]:
inputdata=data.drop(columns="selling_price")
outputdata=data["selling_price"]
model=RandomForestRegressor()

In [38]:
x_train, x_test, y_train, y_test = train_test_split(inputdata, outputdata, test_size=0.2, random_state=42)
x_train.to_csv("x_train.csv",index=False)
y_train.to_csv("y_train.csv",index=False)

In [39]:
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [40]:
print(mean_squared_error(y_test, y_pred))
print(np.sqrt(mean_squared_error(y_test, y_pred)))
print(r2_score(y_test,y_pred))

20513296489.82402
143224.6364625305
0.9186990676641037