In [47]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,r2_score,accuracy_score

In [48]:
data=pd.read_csv("dataset.csv")

In [49]:
data.head(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
5,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,45000,Petrol,Individual,Manual,First Owner,20.14 kmpl,1197 CC,81.86 bhp,113.75nm@ 4000rpm,5.0
6,Maruti Wagon R LXI DUO BSIII,2007,96000,175000,LPG,Individual,Manual,First Owner,17.3 km/kg,1061 CC,57.5 bhp,"7.8@ 4,500(kgm@ rpm)",5.0
7,Maruti 800 DX BSII,2001,45000,5000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
8,Toyota Etios VXD,2011,350000,90000,Diesel,Individual,Manual,First Owner,23.59 kmpl,1364 CC,67.1 bhp,170Nm@ 1800-2400rpm,5.0
9,Ford Figo Diesel Celebration Edition,2013,200000,169000,Diesel,Individual,Manual,First Owner,20.0 kmpl,1399 CC,68.1 bhp,160Nm@ 2000rpm,5.0

In [50]:
data.shape

(8128, 13)

In [51]:
data.drop(columns=["torque"],inplace=True)

In [9]:
data.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
seats            221
dtype: int64

In [52]:
data.dropna(inplace=True)

In [11]:
data.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
seats            0
dtype: int64

In [53]:
data.duplicated().sum()

1189

In [54]:
data.drop_duplicates(inplace=True)

In [55]:
data.duplicated().sum()

0

In [15]:
data.shape

(6718, 12)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6718 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6718 non-null   object
 1   year           6718 non-null   int64
 2   selling_price  6718 non-null   int64
 3   km_driven      6718 non-null   int64
 4   fuel           6718 non-null   object
 5   seller_type    6718 non-null   object
 6   transmission   6718 non-null   object
 7   owner          6718 non-null   object
 8   mileage        6718 non-null   object
 9   engine         6718 non-null   object
 10  max_power      6718 non-null   object
 11  seats          6718 non-null   float64
dtypes: float64(1), int64(3), object(8)
memory usage: 682.3+ KB

In [17]:
data.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'seats'],
      dtype='object')

In [18]:
data.head(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0

In [56]:
def getnum(list):
    return list.split(" ")[0]

In [57]:
data["name"]=data["name"].apply(getnum)
data["mileage"]=data["mileage"].apply(getnum)
data["engine"]=data["engine"].apply(getnum)
data["max_power"]=data["max_power"].apply(getnum)

In [21]:
data.head(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4,1248,74,5.0
1,Skoda,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,103.52,5.0
2,Honda,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7,1497,78,5.0
3,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0,1396,90,5.0
4,Maruti,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1,1298,88.2,5.0

In [58]:
data.reset_index(inplace=True)
data.drop(columns=["index"],inplace=True)
data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4,1248,74,5.0
1,Skoda,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,103.52,5.0
2,Honda,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7,1497,78,5.0
3,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0,1396,90,5.0
4,Maruti,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1,1298,88.2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6713,Maruti,2013,260000,50000,Petrol,Individual,Manual,Second Owner,18.9,998,67.1,5.0
6714,Hyundai,2014,475000,80000,Diesel,Individual,Manual,Second Owner,22.54,1396,88.73,5.0
6715,Hyundai,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5,1197,82.85,5.0
6716,Hyundai,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8,1493,110,5.0
6717,Maruti,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3,1248,73.9,5.0

In [59]:
data["name"].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Datsun', 'Jeep', 'Mercedes-Benz',
       'Mitsubishi', 'Audi', 'Volkswagen', 'BMW', 'Nissan', 'Lexus',
       'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo', 'Kia', 'Fiat', 'Force',
       'Ambassador', 'Ashok', 'Isuzu', 'Opel'], dtype=object)

In [61]:
carname=['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Datsun', 'Jeep', 'Mercedes-Benz',
       'Mitsubishi', 'Audi', 'Volkswagen', 'BMW', 'Nissan', 'Lexus',
       'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo', 'Kia', 'Fiat', 'Force',
       'Ambassador', 'Ashok', 'Isuzu', 'Opel']
carnameindex=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
data["name"].replace(carname,carnameindex,inplace=True)

In [25]:
data["fuel"].unique()

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [63]:
carfuel=['Diesel', 'Petrol', 'LPG', 'CNG']
carfuelindex=[0,1,2,3]
data.replace(carfuel,carfuelindex,inplace=True)

In [27]:
data["seller_type"].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [65]:
carseller=['Individual', 'Dealer', 'Trustmark Dealer']
carsellerindex=[0,1,2]
data.replace(carseller,carsellerindex,inplace=True)

In [29]:
data["transmission"].unique()

array(['Manual', 'Automatic'], dtype=object)

In [67]:
cartransmission=['Manual', 'Automatic']
cartransmissionindex=[0,1]
data["transmission"].replace(cartransmission,cartransmissionindex,inplace=True)

In [31]:
data["owner"].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [69]:
carowner=['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car']
carownerindex=[0,1,2,3,4]
data["owner"].replace(carowner,carownerindex,inplace=True)

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6718 entries, 0 to 6717
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6718 non-null   int64
 1   year           6718 non-null   int64
 2   selling_price  6718 non-null   int64
 3   km_driven      6718 non-null   int64
 4   fuel           6718 non-null   int64
 5   seller_type    6718 non-null   int64
 6   transmission   6718 non-null   int64
 7   owner          6718 non-null   int64
 8   mileage        6718 non-null   object
 9   engine         6718 non-null   object
 10  max_power      6718 non-null   object
 11  seats          6718 non-null   float64
dtypes: float64(1), int64(8), object(3)
memory usage: 629.9+ KB

In [34]:
def convert(n):
    if n=="":
        return 0
    return float(n)

In [35]:
data["mileage"]=data["mileage"].apply(convert)
data["engine"]=data["engine"].apply(convert)
data["max_power"]=data["max_power"].apply(convert)

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6718 entries, 0 to 6717
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6718 non-null   int64
 1   year           6718 non-null   int64
 2   selling_price  6718 non-null   int64
 3   km_driven      6718 non-null   int64
 4   fuel           6718 non-null   int64
 5   seller_type    6718 non-null   int64
 6   transmission   6718 non-null   int64
 7   owner          6718 non-null   int64
 8   mileage        6718 non-null   float64
 9   engine         6718 non-null   float64
 10  max_power      6718 non-null   float64
 11  seats          6718 non-null   float64
dtypes: float64(4), int64(8)
memory usage: 629.9 KB

In [37]:
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,0,2014,450000,145500,0,0,0,0,23.40,1248.0,74.00,5.0
1,1,2014,370000,120000,0,0,0,1,21.14,1498.0,103.52,5.0
2,2,2006,158000,140000,1,0,0,2,17.70,1497.0,78.00,5.0
3,3,2010,225000,127000,0,0,0,0,23.00,1396.0,90.00,5.0
4,0,2007,130000,120000,1,0,0,0,16.10,1298.0,88.20,5.0

In [38]:
data.describe()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
count,6718.000000,6718.000000,6.718000e+03,6.718000e+03,6718.000000,6718.000000,6718.000000,6718.000000,6718.00000,6718.000000,6718.000000,6718.000000
mean,4.349360,2013.609110,5.263196e+05,7.340230e+04,0.476183,0.107175,0.085591,0.500149,19.46531,1430.891337,87.753036,5.434653
std,4.611335,3.900648,5.235398e+05,5.869980e+04,0.553480,0.322090,0.279780,0.737710,4.04915,493.493277,31.740261,0.984230
min,0.000000,1994.000000,2.999900e+04,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.00000,624.000000,0.000000,2.000000
25%,0.000000,2011.000000,2.500000e+05,3.800000e+04,0.000000,0.000000,0.000000,0.000000,16.80000,1197.000000,67.100000,5.000000
50%,3.000000,2014.000000,4.200000e+05,6.822150e+04,0.000000,0.000000,0.000000,0.000000,19.44000,1248.000000,81.830000,5.000000
75%,7.000000,2017.000000,6.500000e+05,1.000000e+05,1.000000,0.000000,0.000000,1.000000,22.50000,1498.000000,100.000000,5.000000
max,30.000000,2020.000000,1.000000e+07,2.360457e+06,3.000000,2.000000,1.000000,4.000000,42.00000,3604.000000,400.000000,14.000000

In [39]:
data.shape

(6718, 12)

In [41]:
inputdata=data.drop(columns="selling_price")
outputdata=data["selling_price"]
model=RandomForestRegressor()

In [42]:
x_train, x_test, y_train, y_test = train_test_split(inputdata, outputdata, test_size=0.2, random_state=85)

In [43]:
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [44]:
print(mean_squared_error(y_test, y_pred))
print(np.sqrt(mean_squared_error(y_test, y_pred)))
print(r2_score(y_test,y_pred))

13214201441.513248
114953.04015776725
0.9525015695862071

In [45]:
import joblib
import pickle

In [46]:
joblib.dump(model,"modelmain.pkl")
pickle.dump(model,open("modelpickel.pkl","wb"))